.x-html {
	padding: 10px 10px 400px 10px;
	font-size: 20px;
    font-weight: bold;
    color: white;
}

.x-toolbar-light {
	background-color: #34383c !important;
    background-image: -webkit-linear-gradient(top, #5f5f5f,#424242 3%,#5a5a5a) !important;
}
.x-button {
	border: 1px solid #3c4144 !important;
	background-color: #989898 !important;
    background-image: -webkit-linear-gradient(top, #737373,#828282 3%,#9e9e9e) !important;
}
.x-button::before {
	background: #2d2d2d !important;
}
.x-button::after {
	background-color: #989898 !important;
    background-image: -webkit-linear-gradient(top, #737373,#828282 3%,#9e9e9e) !important;
}
.x-scroll-container {
	overflow-y: scroll !important;
}
.x-list {
	background-color: black !important;
}
.x-list-item {
	color: white !important;
	border-top: 1px solid #3c3939 !important;
	border-bottom: 1px solid #3c3939 !important;
}
.x-list-item.x-item-pressed.x-list-item-tpl {
    border-top-color: #6b6d6f !important;
    background-color: #6b6d6f !important;
}
.x-list-item.x-item-selected.x-list-item-tpl {
	background-color: #000000 !important;
    background-image: -webkit-linear-gradient(top, #616060,#5a5a5a 3%,#353535) !important;
}
.x-innerhtml.x-html {
	background-color: black !important;
}